<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="container">
            <input class="input-text" type="text">
            <input class="input-text" type="text">
            <input class="input-text" type="text">
            <div style="margin-top:20px">
                MALE <input type="radio" value="male" [ngModel]="personInfo.gender">
                FEMALE <input type="radio" value="female" [ngModel]="personInfo.gender">
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>